.book-title {
    color: rgb(96, 138, 216);
    font-size: 3.4em;
    font-family: 'Alata', sans-serif;
    margin-top: 30%;
}

.book-title-2 {
    color: rgb(5, 5, 5);
    font-size: 4.5em;
    font-family: 'Alata', sans-serif;
}

.book-title-container  {
    margin-left: 11vh;
    height: 100vh;
}

.book-title-mask {
    height: 100vh;
    width: 10vh;
}