.disco-title {
    color: white;
    font-size: 4em;
    font-family: 'Lexend Deca', sans-serif;
    text-shadow: 2px 2px 6px #313131;
    margin-top: 30%;
    padding-left: 8%;
    position: absolut;
}

.disco-title-container  {
    margin-left: 5%;
    height: 100vh;
}

.disco-title-mask {
    height: 100vh;
    width: 6%;
}