/* You can add global styles to this file, and also import other style files */
body {
    height: 100%;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

p {
    margin: 0px;
}

.sub-container {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.zIndexFront {
    z-index: 30;
}

.bkg-grey {
    background-color: rgb(3, 3, 14);
}

.bkg-light-grey {
    background-color: rgb(240,240,240);
}

.bkg-blue {
    background-color: rgb(96, 138, 216);
}

.bkg-green {
    background-color: rgb(105, 230, 116);
}

.bkg-red {
    background-color: rgb(228, 139, 98);
}

.container-center {
    text-align: center;
}

.separator {
    width: 45vw;
    height: 0.2em;
    background-color: white;
}

.line {
    height: 90vh;
    width: 0.2em;
    margin-left: 100%;
}
