<div [id]="htmlId" class="sub-container bkg-light-grey">
    <div class="pano" [style.transform]="'translateY(' + offset + 'px)'" [style.opacity]="opacity"></div>
    <div class="w3-display-container container-center title-container w3-display-middle child-centered"
        [style.opacity]="opacity">
        <div class="squarre" [style.transform]="'translateY(' + offset * 1.7 + 'px)'" @squareItemAnimation>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                preserveAspectRatio="xMidYMid meet" viewBox="0 0 640 640" width="25vh" height="25vh">
                <defs>
                    <path d="" id="bOA0cQDR4" />
                    <path d="" id="avwTnKI4A" />
                    <path d="M520.09 0C521.64 39.67 508.62 92.17 481 157.5" id="a19Ygbdnbm" />
                    <path d="M403.18 640C361.87 558.33 387.81 397.49 481 157.5" id="dkdMNKY3" />
                    <path d="M242.82 640C284.13 558.33 258.19 397.49 165 157.5" id="bnKaPLJVh" />
                    <path d="M125.91 0C124.36 39.67 137.38 92.17 165 157.5" id="bl4MlPuMB" />
                    <path d="M214.5 157.5L165 157.5" id="c2POVI8tHs" />
                    <path d="M299.5 157.5L481 157.5" id="c5Wmmz0BR" />
                    <path d="M516 11L125.79 11" id="b2430WQ9J" />
                    <path d="M398 633L244 633" id="euzGLzATe" />
                </defs>
                <g>
                    <g>
                        <g>
                            <g>
                                <use xlink:href="#bOA0cQDR4" opacity="1" fill-opacity="0" stroke="#fff" stroke-width="2"
                                    stroke-opacity="1" />
                            </g>
                        </g>
                        <g>
                            <g>
                                <use xlink:href="#avwTnKI4A" opacity="1" fill-opacity="0" stroke="#fff" stroke-width="2"
                                    stroke-opacity="1" />
                            </g>
                        </g>
                        <g>
                            <g>
                                <use xlink:href="#a19Ygbdnbm" opacity="1" fill-opacity="0" stroke="#fff"
                                    stroke-width="30" stroke-opacity="1" />
                            </g>
                        </g>
                        <g>
                            <g>
                                <use xlink:href="#dkdMNKY3" opacity="1" fill-opacity="0" stroke="#fff" stroke-width="30"
                                    stroke-opacity="1" />
                            </g>
                        </g>
                        <g>
                            <g>
                                <use xlink:href="#bnKaPLJVh" opacity="1" fill-opacity="0" stroke="#fff"
                                    stroke-width="30" stroke-opacity="1" />
                            </g>
                        </g>
                        <g>
                            <g>
                                <use xlink:href="#bl4MlPuMB" opacity="1" fill-opacity="0" stroke="#fff"
                                    stroke-width="30" stroke-opacity="1" />
                            </g>
                        </g>
                        <g>
                            <g>
                                <use xlink:href="#c2POVI8tHs" opacity="1" fill-opacity="0" stroke="#fff"
                                    stroke-width="60" stroke-opacity="0.7" />
                            </g>
                        </g>
                        <g>
                            <g>
                                <use xlink:href="#c5Wmmz0BR" opacity="1" fill-opacity="0" stroke="#fff"
                                    stroke-width="60" stroke-opacity="0.7" />
                            </g>
                        </g>
                        <g>
                            <g>
                                <use xlink:href="#b2430WQ9J" opacity="1" fill-opacity="0" stroke="#fff"
                                    stroke-width="60" stroke-opacity="1" />
                            </g>
                        </g>
                        <g>
                            <g>
                                <use xlink:href="#euzGLzATe" opacity="1" fill-opacity="0" stroke="#fff"
                                    stroke-width="60" stroke-opacity="1" />
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
        <div class="title" [style.transform]="'translateY(' + offset * 1.7 + 'px)'" @titleItemAnimation>
            <p>
                <i>Discover </i>
                <b>Liege </b>
                <u>With nice buddies</u>
            </p>
        </div>
    </div>
    <div class="w3-display-bottomleft line-container">
        <!-- [style.transform]="'translateY(' + offset * 1.7 + 'px)'" -->
        <div style="padding-left: 6vh;">
            <svg width="8vh" height="8vh" viewBox="0 0 247 390" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
                <path id="wheel" d="M123.359,79.775l0,72.843"
                    style="fill:none;stroke:rgb(240,240,240);stroke-width:20px;" />
                <path id="mouse"
                    d="M236.717,123.359c0,-62.565 -50.794,-113.359 -113.358,-113.359c-62.565,0 -113.359,50.794 -113.359,113.359l0,143.237c0,62.565 50.794,113.359 113.359,113.359c62.564,0 113.358,-50.794 113.358,-113.359l0,-143.237Z"
                    style="fill:none;stroke:rgb(240,240,240);stroke-width:20px;" />
            </svg>
        </div>
        <div class="line-home bkg-green"></div>
    </div>
</div>