
.pano {
    height: 100%;
    width: 100%;
    background-image: url('../../assets/home_panorama1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 0;
}

.title {
    color: white;
    font-size: 3.5em;
    font-family: 'Alata', sans-serif;
    text-shadow: 2px 2px 6px #313131;
}

.squarre {
    display: inline-block;
    margin: 15px;
    margin-left: 30px;
    padding: 35px;
    width: 45%;
    border:rgba($color: (#fff), $alpha: 0.8);
    border-style: solid;
    border-width: 10px;
}

.line-container {
    width: 15vh;
}
  
.line-home {
    margin-left: 10vh;
    width: 0.2em;
    height: 10vh;
}

// Stuff that matters.
@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(60px);
	}
}

svg #wheel {
	animation: scroll ease 2s infinite;
}

// Default stuff.
*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
}
